# Node modules - ne töltsd fel, mindenki magának telepíti
node_modules/

# macOS automatikusan létrehozott szemétfájl
.DS_Store

.env

split.js

chunk_1.js
chunk_2.js
chunk_3.js
chunk_4.js
chunk_5.js
chunk_6.js
chunk_7.js